body {
  text-align: center;
  background: #dcdcdc;
}

h1 {
    font-size: 4rem;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
  }
h3, li {
  font-family: 'Roboto', sans-serif;
}
  img {
    display: block; 
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
#img-caption {
  font-family: 'Martel', serif;
  font-weight: bold;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
ul {
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 3.0;
}
blockquote {
  font-family: 'Russo One', sans-serif;
  font-style: italic;
  max-width: 745px;
  margin: 0 auto 50px auto;
  text-align: left;
}
